body{
    margin: 0;
    padding: 0;
}
.abrand{
    margin: 0;
    margin-right: 15px;
    font-weight: 700;
    font-size: 25px;
}
.svgicon{
    color: #0d6efd;
    margin-right:5px;
}
.nav-link{
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}
#svgenvelope{
    position: relative;
    left: 30px;
    z-index: 1;
    top: 18px;
}
input::-webkit-input-placeholder{
    padding-left: 30px;
}

.checkmodifications{
    color: #27b36a;
}

/*CARDS*/
.cardcontents{
    max-width: 18rem;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
    margin-top: 100px;
    margin-right: 60px;
    border-radius: 26px;
}
.cardcontents:hover{
    position: relative;
    bottom: 70px;
    transition: all 1s;
}
.cardmodifications{
    color: black;
    font-size: 25px;
    padding-top: 15px;
}
.cardmodifications p{
    color: #7c8595;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 15px;
}
.cardparagraph{
    color: #7c8595;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 15px;
}
/*carousel*/
.carousel-indicators{
    position: absolute;
    right: 575px;
    bottom: -50px;
}
.iconprev{
    font-size: 45px;
    color: #0000004d;
    padding: 5px;
    position: absolute;
    left: -45px;
}
.iconnext{
    font-size: 45px;
    color: #0000004d;
    padding: 5px;
    position: absolute;
    right: 85px;
}
.textimgcarousel{
    text-align:start;
    position: absolute;
    left: 630px;
}
.imgcardsection{
    width: 200px;
    height: 80px;
    margin: 0 -18px;
}
.cardcontents2{
  max-width: 18rem;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 30%);
  border-radius: 20px;
}
.cardcontents2:hover{
    position: relative;
    bottom: 70px;
    transition: all 1s;
}