.abrand{
    margin: 0;
    margin-right: 15px;
    font-weight: 700;
    font-size: 25px;
}
.svgicon{
    color: #0d6efd;
    margin-right:5px;
}
.nav-link{
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}